@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color:  rgb(209, 49, 49);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: darkcyan;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: rgb(245, 198, 110);

}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/j.jpg) no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
}
.main h2 {
    color: rgb(247, 231, 201);

    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    color: rgb(241, 215, 94);

    font-size: 2.5em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}
.main h3{
    color: rgb(247, 231, 201);

    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    text-decoration: none;
   background-color: indianred;
   color: rgb(224, 185, 185);
   font-size: 1.1em;
   font-weight: 600;
   border-radius: 15px;
   display: inline-block;
   padding: 0.9375em 2.1875em;
   letter-spacing: 1px;
   margin-bottom: 40px;
   transition: 0.7s ease;
}
.main-btn:hover{
background-color:rgb(155, 56, 56);
transform: scale(1.1);
}
.social-icons a{
    color: rgb(221, 216, 216);
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: darkcyan;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #f0f0f0;
    width: 18em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    font-size: 8em;
    color:indianred;
    display: flex;
    justify-content: center;
}
.info{
    text-align: center;
}
.info h3{
    color: indianred;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.trust{
    background-color: black;
}
.trust .content{
    margin-top: 30px;
}
.brand-card{
    background-color:#f0f0f0 ;
    border: 3px solid rgb(241, 214, 94);

    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.brand-card:hover .brand-image{
    opacity: 0.9;
}
.brand-card:hover{
    transform: scale(1.05);
}
.trust img{
    width: 100%;
    height: 220px;
}
.brand-info{
    text-align: center;
    padding: 1em;
}
.brand-category{
    font-size: 0.8em;
    color: #000;
}
.brand-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.trust a{
    text-decoration: none;
    color: #000;
    background-color: rgb(247, 231, 201);
    border-radius: 15px;
    font-weight: 800;
    margin-top: 10px;
    transition: 0.5s ease;
}
.trust a:hover{
    transform: scale(1.1);
    background-color: rgb(247, 233, 155);
}
.contact .card{
    font-size: 0.7em;
    padding: 15px;
}
.contact .info .h3{
    color: #000;
}
.footer{
    background-color: #000;
    color: #f0f0f0;
    padding: 2em;
    display: flex;
    justify-content: space-between;

}
.footer .social-icons{
    color: indianred;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: indianred
}
.footer .social-icons a{
    font-size: 1.3em;
     
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
.navigation a{
    padding-left: 10px;
}
.title{
    font-size: 1.8em;
}
.section{
    padding: 80px 20px;
}
.main-content h2{
    font-size: 1em;

}
.main-content h3{

    font-size: 1.6em;
}
/* .content{
    flex-direction: column;
    align-items: center;
    padding-right: 400px;
} */
.trust
{
    background-size: cover;
    width: auto;
}
.trust .content .brand-card{
    flex-direction: column;
    align-items: center;
   min-width: 18em;
}
/* h2 {
    min-width: 12em;
    flex-direction: column;
    align-items: center;
    padding-right: 40px; ;
} */
/* .footer{
    height:;
} */

}